In [5]:
import pandas as pd

happiness_df = pd.read_parquet("happiness_rank_score_by_country_2022.parquet").drop([146])
happiness_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  146 non-null    object
 1   rank     146 non-null    int64
 2   score    146 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.5+ KB

In [6]:
countries_and_capitals_localization_html = "http://techslides.com/list-of-countries-and-capitals"
countries_and_capitals_localization = pd.read_html(countries_and_capitals_localization_html, header=0)[0]

not_included = [
    ["Ivory Coast", "Yamoussoukro", "6.8205500", "-5.2767400", "CI", "Africa"],
    ["Eswatini", "Mbabane", "-26.31667", "31.13333", "SZ", "Africa"],
    ["North Macedonia", "Skopje", "41.99646", "21.43141", "MK", "Europe"]
               ]
columns = ["Country Name", "Capital Name", "Capital Latitude", "Capital Longitude", "Country Code", "Continent Name"]
not_included = pd.DataFrame(not_included, columns=columns)
countries_and_capitals_localization = pd.concat([countries_and_capitals_localization, not_included]).sort_values("Country Name")

countries_and_capitals_localization.rename(columns={
    "Country Name": "country",
    "Capital Name": "capital",
    "Capital Latitude": "capital_latitude",
    "Capital Longitude": "capital_longitude",
    "Country Code": "country_code",
    "Continent Name": "continent",
    }, inplace=True
)
countries_and_capitals_localization.tail()

,country,capital,capital_latitude,capital_longitude,country_code,continent
240,Wallis and Futuna,Mata-Utu,-13.95,-171.933333,WF,Australia
241,Western Sahara,El-AaiÃºn,27.153611,-13.203333,EH,Africa
242,Yemen,Sanaa,15.35,44.2,YE,Asia
243,Zambia,Lusaka,-15.416667,28.283333,ZM,Africa
244,Zimbabwe,Harare,-17.816667,31.033333,ZW,Africa

In [10]:
countries_and_capitals_localization["country"].tolist()

['Afghanistan',
 'Aland Islands',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antarctica',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Indian Ocean Territory',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Christmas Island',
 'Cocos Islands',
 'Colombia',
 'Comoros',
 'Cook Islands',
 'Costa Rica',
 'Cote d’Ivoire',
 'Croatia',
 'Cuba',
 'CuraÃ§ao',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Falkland Islands',
 'Faroe Islands',
 'Federated States of Micronesia',
 'Fiji',
 'Finland',
 'France',
 'French Polynesia',
 'French Southern and Antarctic Lands',
 'Gabon',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Heard Island and McDonald Islands',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macau',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Norfolk Island',
 'North Korea',
 'North Macedonia',
 'Northern Cyprus',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Pitcairn Islands',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Congo',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Barthelemy',
 'Saint Helena',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Martin',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'Somaliland',
 'South Africa',
 'South Georgia and South Sandwich Islands',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Svalbard',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'The Gambia',
 'Timor-Leste',
 'Togo',
 'Tokelau',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'US Minor Outlying Islands',
 'US Virgin Islands',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Vatican City',
 'Venezuela',
 'Vietnam',
 'Wallis and Futuna',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [8]:
countries_and_capitals_localization.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 248 entries, 0 to 244
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            248 non-null    object
 1   capital            244 non-null    object
 2   capital_latitude   248 non-null    object
 3   capital_longitude  248 non-null    object
 4   country_code       245 non-null    object
 5   continent          248 non-null    object
dtypes: object(6)
memory usage: 13.6+ KB

In [11]:
happiness_df["country"].replace({
    "Czechia": "Czech Republic",
    "Taiwan Province of China": "Taiwan",
    "North Cyprus": "Cyprus",
    "Hong Kong S.A.R. of China": "Hong Kong",
    "Gambia": "The Gambia",
    "Congo": "Democratic Republic of the Congo",
    "Palestinian Territories": "Palestine",
    "Eswatini, Kingdom of": "Eswatini",
}, inplace=True)

In [17]:
happiness_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  146 non-null    object
 1   rank     146 non-null    int64
 2   score    146 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.5+ KB

In [19]:
countries_and_capitals_localization.head()

,country,capital,capital_latitude,capital_longitude,country_code,continent
0,Afghanistan,Kabul,34.516667,69.183333,AF,Asia
1,Aland Islands,Mariehamn,60.116667,19.9,AX,Europe
2,Albania,Tirana,41.316667,19.816667,AL,Europe
3,Algeria,Algiers,36.75,3.05,DZ,Africa
4,American Samoa,Pago Pago,-14.266667,-170.7,AS,Australia

In [20]:
countries_and_capitals_localization["continent"] = countries_and_capitals_localization["continent"].astype("category")
countries_and_capitals_localization["capital_latitude"] = countries_and_capitals_localization["capital_latitude"].astype("float")
countries_and_capitals_localization["capital_longitude"] = countries_and_capitals_localization["capital_longitude"].astype("float")

In [21]:
countries_and_capitals_localization.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 248 entries, 0 to 244
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            248 non-null    object
 1   capital            244 non-null    object
 2   capital_latitude   248 non-null    float64
 3   capital_longitude  248 non-null    float64
 4   country_code       245 non-null    object
 5   continent          248 non-null    category
dtypes: category(1), float64(2), object(3)
memory usage: 12.2+ KB

In [15]:
happiness_df.to_parquet("happiness_rank_score_by_country_2022.parquet")

In [22]:
countries_and_capitals_localization.to_parquet("country_code_capital_location_continent.parquet")

In [29]:
pd.read_parquet("country_code_capital_location_continent.parquet")["country"]

SyntaxError: invalid syntax (<unknown>, line 1)